/* Form Styles */
.laim-stock-usage-form-wrapper div.laim-stock-usage-form-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}

.laim-single-entry label {
  font-weight: bold;
  line-height: 44px;
}

.laim-single-entry select,
.laim-single-entry input,
.laim-single-entry textarea {
  width: 100%;
}

.laim-single-entry select:focus,
.laim-single-entry input:focus,
.laim-single-entry textarea:focus {
  outline: none;
  border: 1px solid #333;
}

.laim-single-entry select,
.laim-single-entry textarea {
  height: 50px;
}

.laim-stock-usage-confirmation-message p {
  margin: 0;
  line-height: 34px;
  background: #ff7373;
  border: 2px solid #cd2121;
  padding: 8px 14px;
  border-radius: 4px;
  margin-top: 24px;
  opacity: 0;
}

.laim-stock-usage-confirmation-message p.success {
  background: #81df77;
  border: 2px solid #509049;
}